// --------------------------
// Layout
// --------------------------

// Total width of columns
$gridWidth: 1024px;
$gridSpacing: 0;
$gridPadding: 0.75em 0;
$gridColumns: 12;

//Screen sizes
$smallWidth: 0px;
$mediumWidth: 768px;
$largeWidth: 1024px;

